<div class="dashboard__todo">
  <p class="todo__title">
    A faire
    <img
      class="title__icon"
      srcset="/assets/img/icons/todo-black.svg"
      src="/assets/img/icons/todo-black.png"
    />
  </p>
  <div class="todo__tasks">
    <div class="tasks__task">
      <div class="task__checkbox"></div>
      <button class="task__delete"></button>
      <p class="task__desc">Audit</p>
    </div>
    <div class="tasks__task">
      <div class="task__checkbox"></div>
      <button class="task__delete"></button>
      <p class="task__desc">Créer un compte pour BA Damien Chitard</p>
    </div>
    <div class="tasks__task">
      <div class="task__checkbox"></div>
      <button class="task__delete"></button>
      <p class="task__desc">Organiser l’afterwork</p>
    </div>
    <div class="tasks__task">
      <div class="task__checkbox"></div>
      <button class="task__delete"></button>
      <p class="task__desc">Faire les comptes</p>
    </div>
  </div>
</div>
