<div class="container radius pad shadow">
  <div class="container__title" *ngIf="isEnterprise === false">
    <i class="fas fa-user"></i>
    <h3>Mes clients particuliers</h3>
  </div>
  <div class="container__title" *ngIf="isEnterprise === true">
    <i class="fas fa-user-tie"></i>
    <h3>Mes clients entreprise</h3>
  </div>

  <div class="container__clients">
    <ul>
      <li
        *ngFor="let item of userList"
        (click)="updateClientInfo(item.id)"
        (focus)="updateClientInfo(item.id)"
        [class.selected]="item.id === selectedItem"
      >
        <div *ngIf="item.isEnterprise == isEnterprise">
          {{ item.firstname }} {{ item.name }}
        </div>
      </li>
    </ul>
  </div>
</div>
