@import "../../../styles.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  background-color: $background-white;
  padding: 4rem 1rem 1rem 1rem;
  width: 290px;
  .container__title {
    color: $blue-logo;
    margin-bottom: 3rem;
    &::after {
      content: "";
      position: absolute;
      width: 100px;
      height: 2px;
      background-color: $orange;
      left: 305px;
    }
    h3 {
      font-size: 1.5rem;
      margin-bottom: 3rem;
    }
  }

  .container__clients {
    line-height: 60px;
    a {
      color: $black-dracula;
      &:focus {
        color: $blue-logo;
        font-weight: bold;
        font-size: 17px;
      }
      &:focus::after {
        content: ">";
        position: absolute;
        color: $blue-logo;
        font-size: 2rem;
        left: 450px;
      }
    }
  }
}
