<div class="container radius pad shadow">
  <div class="container__title">
    <h3>Mes clients particuliers</h3>
  </div>

  <div class="container__clients">
    <ul>
      <li *ngFor="let item of userList">
        {{ item.name }}
        <a href="#"></a>
      </li>
      <!-- <li><a href="">Léon BONNET</a></li>
      <li><a href="">Françine DUPONT</a></li>
      <li><a href="">Camille ROUX</a></li>
      <li><a href="">Frédéric DUBOIS</a></li>
      <li><a href="">Nadia LOUATI</a></li>
      <li><a href="">Brigitte KACZMARCZYK</a></li> -->
    </ul>
  </div>
</div>
