<div class="container radius pad shadow">
  <div class="container__title" *ngIf="isEnterprise === false">  
    <p>Vous avez actuellement à votre charge <span>{{userList.length}}</span> clients (10 clients maximum) </p>
    <h3><i class="fas fa-user"></i>Clients : particuliers</h3>
  </div>

  <div class="container__title" *ngIf="isEnterprise === true">  
    <p>Vous avez actuellement à votre charge <span>{{userList.length}}</span> clients (10 clients maximum) </p>
    <h3><i class="fas fa-user-tie"></i>Clients : entreprises</h3>
  </div>

  <div class="container__clients">
    <ul>
      <li
        *ngFor="let item of userList"
        (click)="updateClientInfo(item.id)"
        (focus)="updateClientInfo(item.id)"
        [class.selected]="item.id === selectedItem"
      >
        <div *ngIf="item.isEnterprise == isEnterprise">
          {{ item.firstname }} {{ item.name }}
        </div>
      </li>
    </ul>
  </div>
</div>
