@import "../../../styles.scss";

.container {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-content: space-between;
  background-color: $background-white;
  padding: 4rem 2rem 2rem 2rem;
  height: 100%;
  .container__title {
    color: $blue-logo;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    p {
      text-align: center;
      color: $black-dracula;
      margin-bottom: 2rem;
      font-size: 12px;
      span {
        font-weight: bold;
      }
    }
    i {
      font-size: 1.5rem;
      position: relative;
      margin-right: 1rem;
    }
    h3 {
      font-size: 1.5rem;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 100px;
        height: 2px;
        background-color: $orange;
        left: 0px;
        bottom: -32px;
      }
    }
  }

  .container__clients {
    line-height: 60px;
    max-height: 50vh;
    overflow: auto;
    ul {
      padding: 0.5rem;
    }
    li {
      padding: 0rem 1rem;
      &:hover {
        color: $blue-logo;
        cursor: pointer;
      }
    }
    .selected {
      background-color: $blue-logo;
      color: $background-white;
      &:hover {
        color: #fff;
        cursor: pointer;
      }
    }
    &::-webkit-scrollbar {
      background-color: rgb(230, 230, 230);
      width: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $blue-logo;
      border-radius: 6px;
    }
    a {
      position: relative;
      color: $black-dracula;
      &:focus {
        color: $blue-logo;
        font-weight: bold;
        font-size: 17px;
      }
      &:focus::after {
        content: ">";
        position: absolute;
        color: $blue-logo;
        font-size: 2rem;
        left: 220px;
        bottom: -18px;
      }
    }
  }
}

@media screen and (max-width: 1230px) {
  .container {
    padding: 4rem 1rem 2rem 1rem;
  }
}
