@import "../../../styles.scss";

.dashboard {
  width: 100%;
  .dashboard__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
  }
  .dashboard__bottom {
    display: flex;
    justify-content: space-between;
  }
}
