@import "../../../styles.scss";

.container {
  width: calc(100%-200px);
  height: 100%;
  background-color: $blue-glace;

  .dashboard__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
  }
  .dashboard__bottom {
    display: flex;
    justify-content: space-between;
  }
}
