@import "../../../styles.scss";

.container {
  width: calc(100%-200px);
  height: calc(100% - 128px);

  .dashboard__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
  }
  .dashboard__bottom {
    display: flex;
    justify-content: space-between;
  }
}
