<app-home-header></app-home-header>
<div class="container">
  <app-sidebar></app-sidebar>
  <div class="main clients">
    <h1 class="clients__title">Nos clients</h1>
    <div class="clients__list">
      <div class="list__enteprise radius shadow">
        <h2 class="enteprise__title">Comptes entreprises</h2>
        <ul class="entreprise__list">
          <li class="list__item">test value here</li>
          <li class="list__item">test value here</li>
          <li class="list__item">test value here</li>
          <li class="list__item">test value here</li>
          <li class="list__item">test value here</li>
          <li class="list__item">test value here</li>
        </ul>
      </div>
      <div class="list__particular radius shadow">
        <h2 class="particular__title">Comptes particuliers</h2>
        <ul class="particular__list">
          <li class="list__item">test value here</li>
          <li class="list__item">test value here</li>
          <li class="list__item">test value here</li>
          <li class="list__item">test value here</li>
          <li class="list__item">test value here</li>
          <li class="list__item">test value here</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
