<app-home-header></app-home-header>

<div class="container">
  <app-sidebar></app-sidebar>
  <div class="main radius pad">
    <h4>Simulation de crédit</h4>

    <form
      [formGroup]="simulationForm"
      class="form form-login"
      (ngSubmit)="submit()"
    >
      <div class="form__body">
        <label for="montant" class="form__label is-bold">Montant (en €)</label>
        <input
          class="input-global"
          type="number"
          placeholder="000 000 €"
          name="montant"
          formControlName="montant"
          [(ngModel)]="montant"
        />
      </div>
      <div class="form__body">
        <label for="duree" class="form__label is-bold">Durée (en mois)</label>
        <input
          formControlName="duree"
          class="input-global"
          type="number"
          placeholder="120"
          name="duree"
          [(ngModel)]="duree"
        />
      </div>

      <div class="form__body">
        <label for="interet" class="form__label is-bold"
          >Taux d'intérêt annuel</label
        >
        <input
          formControlName="interet"
          class="input-global"
          type="number"
          placeholder="2%"
          name="interet"
          [(ngModel)]="interet"
        />
      </div>
      <button
        type="submit"
        class="btn-global btn-global-orange form__body__btn"
      >
        valider
      </button>
    </form>

    <div class="result">
      <h6>Cout du crédit :</h6>
      <p>{{ coutCredit | currency:'EUR': true }}</p>
    </div>
    <div class="result">
      <h6>Mensualités :</h6>
      <p>{{ mensualite | currency:'EUR': true }}</p>
    </div>
    <div class="result">
      <h6>Loyer total :</h6>
      <p>{{ loyerTotal | currency:'EUR': true }}</p>
    </div>
  </div>
</div>
<app-footer></app-footer>
