<div class="container pad radius shadow">
  <div class="container__title">
    <h4>{{ currentAdvisor.firstName }} {{ currentAdvisor.name }}</h4>
    <div class="container__title__options">
      <a
        ><img
          src="../../../assets/img/icons/pen.png"
          alt="Modifier les information du conseiller"
          class="first-child clickable-icon"
          (click)="openModalUpdateAdvisor()"
      /></a>
      <a
        ><img
          src="../../../assets/img/icons/trash.svg"
          alt="supprimer le conseiller"
          class="clickable-icon"
          (click)="deleteAdvisor()"
      /></a>
    </div>
  </div>
  <div class="container__main">
    <p>
      <img
        src="../../../assets/img/icons/phone.svg"
        alt="icon de numéro de téléphone"
      />
      {{ currentAdvisor.email }}
    </p>
  </div>
</div>
