<div class="modal shadow radius" id="addCreditCard">
  <div class="modal__title">
    <h5>Ajouter une carte de crédit</h5>
    <a
      ><img
        src="../../../assets/img/icons/close-white.svg"
        alt="fermer la pop-up"
        class="clickable-icon"
        mat-dialog-close
    /></a>
  </div>
  <div class="modal__body">
    <form action="" class="form">
      <h6 class="is-bold">Type de carte :</h6>
      <div class="choice">
        <div class="choice__card">
          <input class="" type="checkbox" name="visaPremium" />
          <label for="visaPremium" class="form__label">Visa Premium</label>
        </div>

        <div class="choice__card">
          <input class="" type="checkbox" name="visaElectron" />
          <label for="visaElectron" class="form__label">Visa Electron</label>
        </div>
      </div>

      <button
        class="btn-global btn-global-orange form__body__btn"
        mat-dialog-close
      >
        valider
      </button>
    </form>
  </div>
</div>
