<div class="modal shadow radius" id="addCreditCard">
  <div class="modal__title">
    <h5>Ajouter une carte de crédit</h5>
    <a
      ><img
        src="../../../assets/img/icons/close-white.svg"
        alt="fermer la pop-up"
        class="clickable-icon"
        mat-dialog-close
    /></a>
  </div>
  <div class="modal__body">
    <form action="" class="form">
      <h6 class="is-bold">Quel type de carte créer ?</h6>
      <div class="choice">
        <button
          (click)="chooseCardType('premium')"
          class="btn-global btn-global-orange form__body__btn"
        >
          Visa Premium
        </button>
        <button
          (click)="chooseCardType('electron')"
          class="btn-global btn-global-blue form__body__btn"
        >
          Visa Electron
        </button>
      </div>
    </form>
  </div>
</div>
