<div class="dashboard__agencies">
  <p class="agencies__title">
    <img
      class="title__icon"
      srcset="/assets/img/icons/agency.svg"
      src="/assets/img/icons/agency.png"
      height="33"
      width="31"
      alt="agency"
    />Agences et contacts
  </p>
  <ul class="agencies__list">
    <li class="list__item">
      <p class="item__city">
        <img
          class="city__img"
          src="/assets/img/icons/map.png"
          srcset="/assets/img/icons/map.svg"
          alt=""
          height="15"
          width="11"
        />Toulouse
      </p>
      <p class="item__phone">
        <img
          class="phone__img"
          src="/assets/img/icons/phone.png"
          srcset="/assets/img/icons/phone.svg"
          width="11"
          height="11"
        />
        +33 6 56 78 89 45
      </p>
    </li>
    <li class="list__item">
      <p class="item__city">
        <img
          class="city__img"
          src="/assets/img/icons/map.png"
          srcset="/assets/img/icons/map.svg"
          alt=""
          height="15"
          width="11"
        />Toulouse
      </p>
      <p class="item__phone">
        <img
          class="phone__img"
          src="/assets/img/icons/phone.png"
          srcset="/assets/img/icons/phone.svg"
          width="11"
          height="11"
        />
        +33 6 56 78 89 45
      </p>
    </li>
    <li class="list__item">
      <p class="item__city">
        <img
          class="city__img"
          src="/assets/img/icons/map.png"
          srcset="/assets/img/icons/map.svg"
          alt=""
          height="15"
          width="11"
        />Toulouse
      </p>
      <p class="item__phone">
        <img
          class="phone__img"
          src="/assets/img/icons/phone.png"
          srcset="/assets/img/icons/phone.svg"
          width="11"
          height="11"
        />
        +33 6 56 78 89 45
      </p>
    </li>
    <li class="list__item">
      <p class="item__city">
        <img
          class="city__img"
          src="/assets/img/icons/map.png"
          srcset="/assets/img/icons/map.svg"
          alt=""
          height="15"
          width="11"
        />Toulouse
      </p>
      <p class="item__phone">
        <img
          class="phone__img"
          src="/assets/img/icons/phone.png"
          srcset="/assets/img/icons/phone.svg"
          width="11"
          height="11"
        />
        +33 6 56 78 89 45
      </p>
    </li>
  </ul>
</div>
