@import "../../../styles.scss";

.dashboard__agencies {
  flex: 1;
  background-color: $background-blue;
  padding: 2rem 4rem;
  border-radius: 1rem;
  height: 100%;

  .agencies__title {
    display: flex;
    align-items: center;
    color: $whitesmoke;
    margin-bottom: 2rem;
    font-size: clamp(1.125rem, 2vw + 1rem, 2.25rem);
    .title__icon {
      margin-right: 1rem;
    }
  }
  .agencies__list {
    list-style: none;
    color: $whitesmoke;
    .list__item {
      margin-bottom: 1rem;
      .item__city {
        margin-bottom: 0.5rem;
      }
    }
    .city__img {
      margin-right: 1rem;
    }
    .phone__img {
      margin-right: 1rem;
    }
  }
}
