<app-sidebar></app-sidebar>

<div class="container">
  <app-home-header></app-home-header>
  <div class="main radius pad">
    <h4>Enregistrer un nouveau conseiller</h4>

    <form
      class="form"
    >
      <div class="form__body">
        <label for="name" class="form__label is-bold">Nom</label>
        <input
          class=""
          type="text"
          placeholder="Nom de famille "
          name="name"
          id="name"
        />
      </div>
      <div class="form__body">
        <label for="lastname" class="form__label is-bold">Prénom</label>
        <input
          class=""
          type="text"
          placeholder="Prénom"
          name="lastName"
          id="lastname"
        />
      </div>
      <div class="form__body">
        <label for="email" class="form__label is-bold">Email</label>
        <input
          class=""
          type="email"
          placeholder="adresse@mail"
          name="email"
          id="email"
        />
      </div>

      
      <button class="btn-global btn-global-orange form__body__btn">
        valider
      </button>
    </form>
  </div>
</div>

<app-footer></app-footer>

