@import '../../../styles.scss';

header {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: $whitesmoke;
    box-shadow: $shadow;
    .logo {
        img {
            width: 40px;
            height: auto;
        }
    }

    .container {
        margin: auto;
        p {
            font-size: 20px;
            span {
                color: $blue-logo;
            }
        }
    }
}

@media screen and (max-width: 820px) {
    header {
        .container {
            p {
                font-size: 14px;
            }
        }
    }
}