@import "../../styles.scss";

.container {
  background: $home-page;
  display: flex;
  align-items: center;

  .deco {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .deco__line {
      height: 3px;
      width: 22%;
      background-color: $whitesmoke;
    }
    .deco__logo {
      height: 270px;
      width: auto;
    }
  }

  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 270px;
    background-color: $whitesmoke;
    font-family: $barlow;
    .form {
      display: flex;
      flex-direction: column;
      align-content: space-between;
      font-size: 18px;
      .form__label,
      .form__input {
        margin-bottom: 15px;
      }
    }
    .form-container__btn {
      margin-top: 15px;
      
    }
  }
}

.container-cards {
  background: $blue-logo;
  display: flex;
  justify-content: center;
  height: 410px;

  .card {
    background-color: $whitesmoke;
    width: 18%;
    overflow: hidden;
    margin-right: 1rem;

    .card__header {
      position: relative;
      height: 45%;
      overflow: hidden;
      .card__header__img {
        width: 100%;
        object-fit: cover;
      }
    }

    .card__body {
      padding: 05%;
      margin-top: 0;
      .card__body__title {
        font-size: 1.5em;
        color: $blue-logo;
      }
      .card__body__article {
      }
    }
  }
}

// MEDIA QUERIES

@media screen and (max-width: 820px) {
  .container {
    justify-content: center;
    .deco {
      display: none;
    }

    .form-container {
      width: 85%;
    }
  }

  .container-cards {
      display: none;
  }
}
