<div class="container">
  <div class="decoration">
    <div class="line"></div>
    <img src="..\assets\logo2x.png" alt="Logo de ProxiBank MMK" />
    <div class="line"></div>
  </div>
  <div class="form-container">
    <form action="">
      <label for="login">Identifiant</label>
      <input class="input-global" type="text" placeholder="login" required />

      <label for="login">Mot de passe</label>
      <input class="input-global" type="text" required />
    </form>
    <button type="submit" class="btn-global">se connecter</button>
  </div>
</div>
