@import "../../../styles.scss";

.client{
  padding: 2rem;
  min-width: 800px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: #fff;
  margin: 1rem 0;
  
  .client__name{
    flex: 1;
    text-align: center;
  }
  .client__type{
    flex: 1;
    text-align: center;
  }
  &.--red{
    border-left: 10px solid $reddish;
  }
  &.--orange{
    border-left: 10px solid $orange;
  }

}


//_____________MEDIA QUERIES ______________
@media screen and (max-width:830px) {
  .client {
    min-width: 340px;
  }
}
