<div class="modal shadow radius" id="deleteCreditCard">
  <div class="modal__title">
    <h5>Supprimer la carte de crédit</h5>
    <a
      ><img
        src="../../../assets/img/icons/close-white.svg"
        alt="fermer la pop-up"
        class="clickable-icon"
        mat-dialog-close
    /></a>
  </div>
  <div class="modal__body">
    <form action="" class="form">
      <h6 class="is-bold">
        êtes-vous sure de vouloir supprimer cette carte de crédit ?
      </h6>
      <p>(Cette action est irrémédiable)</p>
      <div class="choice"></div>

      <button
        (click)="deleteCard()"
        class="btn-global btn-global-orange form__body__btn"
      >
        J'en suis sur!
      </button>
    </form>
  </div>
</div>
