<div class="modal shadow radius" id="addNewAccount">
  <div class="modal__title">
    <h5>Créer un nouveau compte</h5>
    <a
      ><img
        src="../../../assets/img/icons/close-white.svg"
        alt="fermer la pop-up"
        class="clickable-icon"
        mat-dialog-close
    /></a>
  </div>
  <div class="modal__body">
    <form action="" class="form">
      <h6 class="is-bold">Type de compte :</h6>
      <div class="choice">
        <button
          (click)="typeAccount('current')"
          class="btn-global btn-global-orange form__body__btn"
        >
          Compte courant
        </button>
        <button
          (click)="typeAccount('saving')"
          class="btn-global btn-global-blue form__body__btn"
        >
          Compte épargne
        </button>
      </div>
    </form>
  </div>
</div>
