<div class="modal shadow radius" id="deleteClient">
  <div class="modal__title">
    <h5>Supprimer le compte client</h5>
    <a
      ><img
        src="../../../assets/img/icons/close-white.svg"
        alt="fermer la pop-up"
        class="clickable-icon"
        mat-dialog-close
        (click)="close()"
    /></a>
  </div>
  <div class="modal__body">
    <h6 class="is-bold">êtes-vous sure de vouloir supprimer ce client ?</h6>
    <p>Cette action est irrémédiable.</p>
    <p>
      Pour supprimer un client, il faut que les comptes existants soient vidés.
    </p>

    <div class="choice"></div>

    <button
      (click)="deleteClient()"
      class="btn-global btn-global-orange form__body__btn"
    >
      J'en suis sur!
    </button>
  </div>
</div>
