@import "../../../styles.scss";

.form-container {
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #54a8b0;
  font-family: $barlow;
  color: $whitesmoke;
  background-image: url(../../../assets/Mask_Group.png);
  background-repeat: no-repeat;
  background-size: cover;

  h2 {
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding: 3rem;
    font-size: 18px;
    .form__label,
    .form__input {
      margin-bottom: 15px;
    }
    .form-container__btn {
      margin: 3rem auto;
    }
  }
}
