<h6>{{ card.type }}</h6>
<img
  src="{{
    card.type === 'VPC'
      ? '../../../assets/img/visa_premier 1.svg'
      : '../../../assets/img/electron.svg'
  }}"
  alt="Carte de crédit du client"
/>
<div class="container__main__card--actions">
  <button
    class="is-bold is-activated"
    (click)="activateOrDeactivate()"
    title="la carte est actuellement {{ isActivateText }}"
  >
    {{ statusCard }}
  </button>
  <a
    ><img
      src="../../../assets/img/icons/trash.svg"
      alt="Supprimer la carte de crédit"
      class="clickable-icon"
      (click)="deleteCreditCard(card.id)"
  /></a>
</div>
