@import "../../../styles.scss";


.container__main__card--info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container__main__card--actions {
    display: flex;
     justify-content: space-around;
     align-items: center;
     padding: 0.5rem 0rem;

     button {
         border: 1px solid $yellow;
         border-radius: 3px;
         background-color: transparent;
         cursor: pointer;
     }
}
