<app-home-header></app-home-header>
<div class="container">
  <app-sidebar></app-sidebar>
  <div class="main radius pad">
    <h4><i class="fas fa-user-plus"></i>Enregistrer un nouveau client</h4>

    <form
      [formGroup]="clientForm"
      class="form form-login"
      (ngSubmit)="submit()"
      #myForm="ngForm"
    >
      <div class="form__body">
        <label for="name" class="form__label is-bold">Nom</label>
        <input
          [ngClass]="{'input--error': clientForm.controls['name'].hasError('required') && myForm.submitted}"
          class=""
          type="text"
          placeholder="Nom de famille "
          name="lastname"
          formControlName="name"
        />
        <span
          class="error-form"
          *ngIf="
            clientForm.controls['name'].hasError('required') &&
            myForm.submitted
          "
        >Entrez un nom valide</span
        >
      </div>
      <div class="form__body">
        <label for="login" class="form__label is-bold">Prénom</label>
        <input
          [ngClass]="{'input--error': clientForm.controls['firstname'].hasError('required') && myForm.submitted}"
          formControlName="firstname"
          class=""
          type="text"
          placeholder="Prénom"
          name="firstname"
        />
        <span
          class="error-form"
          *ngIf="
            clientForm.controls['firstname'].hasError('required') &&
            myForm.submitted"
        >Entrez un prénom valide</span
        >
      </div>

      <div class="form__body">
        <label for="login" class="form__label is-bold">Télephone</label>
        <input
          [ngClass]="{'input--error': clientForm.controls['phoneNumber'].hasError('required') && myForm.submitted}"
          formControlName="phoneNumber"
          class=""
          type="text"
          placeholder="Télephone"
          name="firstname"
        />
        <span
          class="error-form"
          *ngIf="
            clientForm.controls['phoneNumber'].hasError('required') &&
            myForm.submitted
          "
        >Entrez un numéro de téléphone valide</span
        >
      </div>
      <div class="form__body--radio">
        <label for="typeClient" class="radio__label is-bold">Particulier</label>
        <input
          class="radio radio--first"
          type="radio"
          value="client particulier"
          name="typeClient"
          (click)="ClientIsParticular()"
          checked
        />
        <label for="typeClient" class="radio__label is-bold">Entreprise</label>
        <input
          class="radio"
          type="radio"
          value="Entrepise"
          name="typeClient"
          (click)="ClientIsEnterprise()"
        />
      </div>

      <div class="form__body" *ngIf="isEnterprise != false">
        <label for="siret" class="form__label is-bold">N° de Siret</label>
        <input class="" type="text" name="siret" formControlName="siretNbr" />
      </div>

      <div class="form__body" *ngIf="isEnterprise != false">
        <label for="nameEnterprise" class="form__label is-bold"
          >Nom de l'entreprise</label
        >
        <input
          class=""
          type="text"
          name="nameEnterprise"
          formControlName="enterpriseName"
        />
      </div>

      <div class="form__body">
        <label for="lastname" class="form__label is-bold"
          >Date de naissance</label
        >
        <input
          [ngClass]="{'input--error': clientForm.controls['birth'].hasError('required') && myForm.submitted}"
          class=""
          type="date"
          placeholder="Date de naissance"
          name="birthday"
          formControlName="birth"
        />
        <span
          class="error-form"
          *ngIf="
            clientForm.controls['birth'].hasError('required') &&
            myForm.submitted
          "
        >Entrez une date de naissance valide</span
        >
      </div>
      <div class="form__body">
        <label for="streetNumber" class="form__label is-bold"
          >Numero de rue</label
        >
        <input
          [ngClass]="{'input--error': clientForm.controls['streetNumber'].hasError('required') && myForm.submitted}"
          class=""
          type="number"
          placeholder="Numero de rue"
          name="address"
          formControlName="streetNumber"
        />
        <span
          class="error-form"
          *ngIf="
            clientForm.controls['streetNumber'].hasError('required') &&
            myForm.submitted
          "
        >Entrez un numéro de rue valide</span
        >
      </div>
      <div class="form__body">
        <label for="streetName" class="form__label is-bold"
          >Nom de la rue</label
        >
        <input
          [ngClass]="{'input--error': clientForm.controls['streetName'].hasError('required') && myForm.submitted}"
          class=""
          type="text"
          placeholder="Nom de la rue"
          formControlName="streetName"
          name="streetName"
        />
        <span
          class="error-form"
          *ngIf="
            clientForm.controls['streetName'].hasError('required') &&
            myForm.submitted
          "
        >Entrez un nom de rue valide</span
        >
      </div>
      <div class="form__body">
        <label for="city" class="form__label is-bold">Ville</label>
        <input
          [ngClass]="{'input--error': clientForm.controls['city'].hasError('required') && myForm.submitted}"
          class=""
          type="text"
          placeholder="Ville"
          name="city"
          formControlName="city"
        />
        <span
          class="error-form"
          *ngIf="
            clientForm.controls['city'].hasError('required') &&
            myForm.submitted
          "
        >Entrez une ville valide</span
        >
      </div>
      <div class="form__body">
        <label for="zipCode" class="form__label is-bold">Code postal</label>
        <input
          [ngClass]="{'input--error': clientForm.controls['zipCode'].hasError('required') && myForm.submitted}"
          formControlName="zipCode"
          class=""
          type="text"
          placeholder="Code postal"
          name="zipcode"
        />
        <span
          class="error-form"
          *ngIf="
            clientForm.controls['zipCode'].hasError('required') &&
            myForm.submitted
          "
        >Entrez un code postal valide</span
        >
      </div>
      <button
        type="submit"
        class="btn-global btn-global-orange form__body__btn"
      >
        valider
      </button>
    </form>
  </div>
</div>

<app-footer></app-footer>
