@import "../../../styles.scss";

.container {
  background-color: $blue-glace;
  height: 100%;
  .main {
    h4 {
      margin-bottom: 3.5rem;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Lato;

    form {
      .form__body {
        display: flex;

        label {
          width: 30%;
          font-size: 1.2rem;
          color: $blue-logo !important;
        }
        input {
          width: 40%;
          background-color: $blue-glace;
          border: none;
          border-bottom: 1px solid $black-dracula;
          margin-bottom: 2rem;
          font-size: 1rem;
        }
      }
      .form__body--radio {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        .radio__label {
          margin-right: 2rem;
          color: $blue-logo;
        }
        .radio--first {
          margin-right: 4rem;
        }
        input[type="radio"] {
          position: relative;
          height: 1rem;
          width: 1rem;
        }
      }
    }
  }
}
