<div class="container pad radius shadow">
  <div class="container__title">
    <h4>
      {{ currentClient.firstname }} {{ currentClient.name }}
      <img src="../../../assets/img/icons/premium.svg" alt="Client premium" />
    </h4>
    <div class="container__title__options">
      <a
        ><img
          src="../../../assets/img/icons/pen.png"
          alt="Modifier les information du client"
          class="first-child clickable-icon"
          (click)="openModalUpdateClient()"
      /></a>
      <a (click)="openModalDeleteClient()"
        ><img
          src="../../../assets/img/icons/trash.svg"
          alt="supprimer le client"
          class="clickable-icon"
      /></a>
    </div>
  </div>
  <div class="container__main">
    <div class="main__infos">
      <div>
        <img
          src="../../../assets/img/icons/birthday.svg"
          alt="icon de date de naissance"
        />
      </div>
      <p>
        {{ currentClient.birth }}
      </p>
    </div>
    <div class="main__infos">
      <div>
        <img
          src="../../../assets/img/icons/home.svg"
          alt="icon d'adresse postale"
        />
      </div>
      <p>
        {{ currentClient.address.streetNumber }}
        {{ currentClient.address.streetName }}
        {{ currentClient.address.zipCode }}
        {{ currentClient.address.city }}
      </p>
    </div>

    <div class="main__infos">
      <div>
        <img
          src="../../../assets/img/icons/tel-black.png"
          srcset="../../../assets/img/icons/tel-black.svg"
          alt="icon de numéro de téléphone"
        />
      </div>
      <p class="main__infos">
        {{ currentClient.phoneNumber}}
      </p>
    </div>
  </div>
</div>
