<div class="container pad radius shadow">
  <div class="container__title">
    <h4>
      Jocelyne Joly
      <img src="../../../assets/img/icons/premium.svg" alt="Client premium" />
    </h4>
    <div class="container__title__options">
      <a href=""
        ><img
          src="../../../assets/img/icons/pen.png"
          alt="Modifier les information du client"
          class="first-child clickable-icon"
      /></a>
      <a href=""
        ><img
          src="../../../assets/img/icons/trash.svg"
          alt="supprimer le client"
          class="clickable-icon"
      /></a>
    </div>
  </div>
  <div class="container__main">
    <p>
      <img
        src="../../../assets/img/icons/birthday.svg"
        alt="icon de date de naissance"
      />17/05/1979
    </p>
    <p>
      <img
        src="../../../assets/img/icons/home.svg"
        alt="icon d'adresse postale"
      />57 rue Léon Blum Lambersart 59130
    </p>
    <p>
      <img
        src="../../../assets/img/icons/phone.svg"
        alt="icon de numéro de téléphone"
      />
      03 20 50 48 79
    </p>
  </div>
</div>
