<div class="container pad radius shadow" *ngIf="currentClient">
  <div class="container__title">
    <h4>{{ currentClient.firstname }} {{ currentClient.name }}</h4>
    <div class="container__title__options">
      <a
        ><img
          src="../../../assets/img/icons/pen.png"
          alt="Modifier les information du client"
          class="first-child clickable-icon"
          (click)="openModalUpdateClient()"
      /></a>
      <a (click)="openModalDeleteClient()"
        ><img
          src="../../../assets/img/icons/trash.svg"
          alt="supprimer le client"
          class="clickable-icon"
      /></a>
    </div>
  </div>
  <div class="container__main">
    <div class="main__infos">
      <div>
        <img
          src="../../../assets/img/icons/birthday.svg"
          alt="icon de date de naissance"
        />
      </div>
      <p title="date de naissance du client">
        {{ currentClient.birth }}
      </p>
    </div>
    <div class="main__infos">
      <div>
        <img
          src="../../../assets/img/icons/home.svg"
          alt="icon d'adresse postale"
        />
      </div>
      <p title="adresse du client">
        {{ currentClient.address.streetNumber }}
        {{ currentClient.address.streetName }}
        {{ currentClient.address.zipCode }}
        {{ currentClient.address.city }}
      </p>
    </div>

    <div class="main__infos">
      <div>
        <img
          src="../../../assets/img/icons/tel-black.png"
          srcset="../../../assets/img/icons/tel-black.svg"
          alt="icon de numéro de téléphone"
        />
      </div>
      <p class="main__infos" title="téléphone du client">
        {{ currentClient.phoneNumber }}
      </p>
    </div>

    <div class="main__infos" *ngIf="currentClient.isEnterprise === true">
      <div>
        <i class="fas fa-building" alt="icon d'entreprise"></i>
      </div>
      <p title="nom d'entreprise du client">
        {{ currentClient.enterpriseName }}
      </p>
    </div>

    <div class="main__infos" *ngIf="currentClient.isEnterprise === true">
      <div>
        <i class="fas fa-hashtag" alt="icon de numero de siret"></i>
      </div>
      <p title="numéro de siter du client">
        {{ currentClient.siretNbr }}
      </p>
    </div>
  </div>
</div>
