<div class="modal shadow radius" id="modalInternalAccount">
  <div class="modal__title">
    <h5>Virement interne</h5>
    <a
      ><img
        src="../../../assets/img/icons/close-white.svg"
        alt="fermer la pop-up"
        class="clickable-icon"
        mat-dialog-close
    /></a>
  </div>
  <div class="modal__body">
    <form action="" class="form">
      <div class="form__body__check">
        <div class="form__body__check__debit">
          <h6>Compte à débiter</h6>
          <div class="choice">
            <input
              value="current"
              class=""
              id="accountAC"
              type="radio"
              name="accountA"
              [(ngModel)]="accountA"
            />
            <label for="accountAC" class="form__label">Compte courant</label>
          </div>
          <div class="choice">
            <input
              class=""
              value="saving"
              id="accountAE"
              type="radio"
              name="accountA"
              [(ngModel)]="accountA"
            />
            <label for="accountAE" class="form__label">Compte épargne</label>
          </div>
        </div>

        <div class="form__body__check__receiver">
          <h6>Compte à approvisionner</h6>
          <div class="choice">
            <input
              value="current"
              class=""
              type="radio"
              name="accountB"
              id="accountBC"
              ngModel
              [(ngModel)]="accountB"
            />
            <label for="accountBC" class="form__label">Compte courant</label>
          </div>
          <div class="choice">
            <input
              value="saving"
              id="accountBS"
              class=""
              type="radio"
              name="accountB"
              [(ngModel)]="accountB"
            />
            <label for="accountBS" class="form__label">Compte épargne</label>
          </div>
        </div>
      </div>
      <input
        class="modal__form__input"
        type="number"
        [(ngModel)]="amount"
        [ngModelOptions]="{ standalone: true }"
      />
      <button
        class="btn-global btn-global-orange form__body__btn"
        (click)="sendData()"
      >
        valider
      </button>
    </form>
  </div>
</div>
