<div class="modal shadow radius" id="modalInternalAccount">
  <div class="modal__title">
    <h5>Virement interne</h5>
    <a
      ><img
        src="../../../assets/img/icons/close-white.svg"
        alt="fermer la pop-up"
        class="clickable-icon"
        mat-dialog-close
    /></a>
  </div>
  <div class="modal__body">
    <form action="" class="form">
      <div class="form__body__check">
        <div class="form__body__check__debit">
          <h6>Compte à débiter</h6>
          <div class="choice">
            <input
              value="current"
              class=""
              id="accountAC"
              type="radio"
              name="accountA"
              [(ngModel)]="accountA"
            />
            <label for="accountAC" class="form__label">Compte courant</label>
          </div>
          <div class="choice">
            <input
              class=""
              value="saving"
              id="accountAE"
              type="radio"
              name="accountA"
              [(ngModel)]="accountA"
            />
            <label for="accountAE" class="form__label">Compte épargne</label>
          </div>
        </div>

        <div class="form__body__check__receiver">
          <h6>Compte approvisionné</h6>
          <span *ngIf="accountA == 'current'">
            <label class="form__label">Compte épargne</label>
          </span>
          <span *ngIf="accountA == 'saving'">
            <label class="form__label">Compte courant</label>
          </span>
        </div>

      </div>
      <input
        class="modal__form__input"
        type="number"
        [(ngModel)]="amount"
        [ngModelOptions]="{ standalone: true }"
      />
      <button
        class="btn-global btn-global-orange form__body__btn"
        (click)="sendData()"
      >
        valider
      </button>
    </form>
  </div>
</div>
