<div
  class="modal shadow radius"
  id="modalUpdateClient"
  role="dialog"
  aria-labelledby="modalUpdateInformationsMyProfil"
  aria-describedby="dialogDesc"
>
  <div class="modal__title">
    <h5 id="modalUpdateInformationsMyProfil">modifier mon Profil</h5>
    <a
      ><img
        src="../../../assets/img/icons/close-white.svg"
        alt="fermer la pop-up"
        class="clickable-icon"
        aria-label="close-modal"
        mat-dialog-close
    /></a>
  </div>
  <div class="modal__body">
    <form action="" class="form" id="dialogDesc">
      <div class="form__body">
        <label for="lastname" class="form__label">Nom</label>
        <input
          class="form__input input-global-modal"
          type="text"
          placeholder="Nom de famille "
          name="lastname"
          aria-label="update lastname"
        />
      </div>
      <div class="form__body">
        <label for="name" class="form__label">Prénom</label>
        <input
          class="form__input input-global-modal"
          type="text"
          placeholder="Prénom"
          name="name"
          aria-label="update name"
        />
      </div>

      <div class="form__body">
        <label for="password" class="form__label">Nouveau MdP</label>
        <input
          class="form__input input-global-modal"
          type="password"
          placeholder=" new password"
          name="password"
          aria-label="new password"
        />
      </div>

      <div class="form__body">
        <label for="password" class="form__label"
          >Confirmer le nouveau MdP</label
        >
        <input
          class="form__input input-global-modal"
          type="password"
          placeholder="confirm new password"
          name="password"
          aria-label="confirm new password"
        />
      </div>
      <button
        class="btn-global btn-global-orange form__body__btn"
        mat-dialog-close
        aria-label="validate updating"
      >
        valider
      </button>
    </form>
  </div>
</div>
