<div class="container pad radius shadow">
  <div class="container__title">
    <h4>
      Compte(s)
      <a
        ><img
          src="../../../assets/img/icons/plus.svg"
          alt="Ajouter un nouveau compte"
          class="clickable-icon"
          (click)="openModalCreateAccount()"
      /></a>
    </h4>
  </div>
  <div class="container__main">
    <table class="tftable">
      <tr>
        <th>Identifiant du compte</th>
        <th>Solde</th>
        <th>Interêts</th>
      </tr>
      
      <tr *ngFor="let account of currentClient.accounts">
        <td>{{ account[0].iban }}</td>

        <td class="is-bold">{{ account[0].sold }} €</td>

        <td>1.3%</td>
        <td>
          <a
            ><img
              src="../../../assets/img/icons/trash.png"
              alt="supprimer ce compte"
              class="clickable-icon"
              (click)="openModalDeleteAccount()"
          /></a>
        </td>
      </tr>
    </table>
  </div>

  <div class="container__actions">
    <a
      class="btn-global btn-global-blue--outline"
      (click)="openModalInternalTransfer()"
      >Virement interne</a
    >
    <a
      class="btn-global btn-global-blue--outline"
      (click)="openModalExternalTransfer()"
      >Virement externe</a
    >
    <a class="btn-global btn-global-blue--outline">Simulation de crédit</a>
  </div>
</div>
