@import "../../../styles.scss";

.container {
  display: flex;
  align-items: center;
  background-color: $black-dracula;
  background-image: url("../../../assets/img/Mask_Group.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: calc(100%-200px);
  height: calc(100% - 78px);
  margin-left: 200px;
}
