<aside class="sidebar">
  <button class="sidebar__dash btn-global">Tableau de bord</button>
  <div class="sidebar__top">
    <p class="top__ul">Clients</p>
    <div class="top__menu">
      <li class="menu__item"><a href="" class="item__link">Liste</a></li>
      <li class="menu__item"><a href="" class="item__link">Audit</a></li>
    </div>
  </div>
  <div class="sidebar__middle">
    <p class="middle__ul">Conseillers</p>
    <div class="middle__menu">
      <li class="menu__item"><a href="" class="item__link">Liste</a></li>
      <li class="menu__item">
        <a href="" class="item__link">Nouveau conseiller</a>
      </li>
    </div>
  </div>
  <img src="../../../../assets/img/vague.png" alt="">
</aside>
