<div class="modal shadow radius" id="modalUpdateAdvisor">
  <div class="modal__title">
    <h5>modifier le conseiller</h5>
    <a
      ><img
        src="../../../assets/img/icons/close-white.svg"
        alt="fermer la pop-up"
        class="clickable-icon"
        mat-dialog-close
    /></a>
  </div>
  <div class="modal__body">
    <form class="form" [formGroup]="advisorUpdateForm" (ngSubmit)="send()">
      <div class="form__body">
        <label for="name" class="form__label">Nom</label>
        <input
          class="form__input input-global-modal"
          type="text"
          placeholder="Nom de famille "
          name="name"
          formControlName="name"
        />
      </div>
      <div class="form__body">
        <label for="firstName" class="form__label">Prénom</label>
        <input
          class="form__input input-global-modal"
          type="text"
          placeholder="Prénom"
          name="firstName"
          formControlName="firstName"
        />
      </div>
      <div class="form__body">
        <label for="email" class="form__label">Adresse Email</label>
        <input
          class="form__input input-global-modal"
          type="email"
          placeholder="email"
          name="email"
          formControlName="email"
        />
      </div>

      <button
        type="submit"
        class="btn-global btn-global-orange form__body__btn"
        mat-dialog-close
      >
        valider
      </button>
    </form>
  </div>
</div>
