<div class="burger">
  <input type="checkbox" id="check" />
  <label for="check">
    <i class="fas fa-bars" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>
  </label>

  <aside class="sidebar">
    <div class="sidebar__logo">
      <img
        srcset="../../../assets/img/logo-white.svg"
        src="../../../assets/img/logo-white.png"
        alt="Logo de ProxiBank MMK"
        width="126"
        height="135"
      />
    </div>

    <button class="sidebar__dash btn-global" routerLink="/adm/dashboard">
      Tableau de bord
    </button>
    <div class="sidebar__top">
      <div class="top__menu">
        <li class="menu__item">
          <a href="" class="item__link" routerLink="/adm/clients"
            ><img
              src="../../../assets/img/icons/clients.png"
              srcset="../../../assets/img/icons/clients.svg"
              alt="client"
              width="12"
              height="8"
              class="link__icon"
            />Liste clients</a
          >
        </li>
        <li class="menu__item">
          <a href="" class="item__link routerLink" routerLink="/adm/audit"
            ><img
              src="../../../assets/img/icons/audit.png"
              srcset="../../../assets/img/icons/audit.svg"
              alt="audit"
              width="12"
              height="12"
              class="link__icon"
            />Audit</a
          >
        </li>
        <li class="menu__item">
          <a href="" class="item__link" routerLink="/adm/advisors"
            ><img
              src="../../../assets/img/icons/list.png"
              srcset="../../../assets/img/icons/list.svg"
              alt="client"
              width="13"
              height="12"
              class="link__icon"
            />Liste conseillers</a
          >
        </li>
        <li class="menu__item">
          <a href="" class="item__link" routerLink="/adm/add-advisor"
            ><img
              src="../../../assets/img/icons/advisor.png"
              srcset="../../../assets/img/icons/advisor.svg"
              alt="advisor"
              width="16"
              height="12"
              class="link__icon"
            />Nouveau conseiller</a
          >
        </li>
        <li class="menu__item">
          <a href="" class="item__link" routerLink="/adm/transactions"
            ><i class="fas fa-chart-pie"></i>Historique de transactions</a
          >
        </li>
      </div>
    </div>
    <!-- <img src="../../../../assets/img/vague.png" alt="" /> -->
  </aside>
</div>
