<div class="container radius shadow">
  <div class="container__title">
    <h4>
      Carte(s)
      <a
        ><img
          src="../../../assets/img/icons/plus.svg"
          alt="Ajouter une nouvelle carte de crédit"
          class="clickable-icon"
          (click)="openModalAddCreditCard()"
      /></a>
    </h4>
  </div>
  <div class="container__main">
    <div
      *ngFor="let card of currentClient.cards"
      class="container__main__cards"
    >
      <app-card-item
        [currentUserId]="currentUserId"
        [card]="card"
      ></app-card-item>
    </div>
  </div>
</div>
