/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

// Colors
$blue-logo: #54a8b0;
$orange: #ffb878;
$orange-dark: #e0883b;
$yellow: #ffd478;
$whitesmoke: #f5f5f5;
$black-dracula: #2d3436;
$black-tr: #2d343666;
$text-black: #525252;
$blue-glace: #e6f1f4;
//$background-dash: #e6f1f4;
$background-white: rgba(245, 245, 245, 0.9);
$background-blue: rgba(84, 168, 176, 0.85);
$background-main: rgb(221, 216, 216);

// Color-gradient
$home-page: linear-gradient(
  100deg,
  rgba(255, 212, 120, 1) 0%,
  rgba(255, 184, 120, 1) 100%
);
$sidebar: linear-gradient(
  117deg,
  rgba(84, 168, 176, 1) 0%,
  rgba(45, 52, 54, 1) 100%
);
$shadow: -1px 1px 5px 1px rgba(33, 36, 37, 0.1);
// Font
$lato: "Lato", sans-serif;

html {
  font-family: $lato;
  color: $black-dracula;
  background-color: $whitesmoke;
}

html,
body {
  height: 100%;
  margin: 0;
}

h2 {
  font-size: 2rem;
}

h4 {
  font-size: 30px;
  font-weight: bold;
  color: $orange-dark;
}

.pad {
  padding: 1rem;
}

.radius {
  border-radius: 8px;
}
.shadow {
  box-shadow: $shadow;
}

.is-bold {
  font-weight: bold;
  letter-spacing: 1px;
}

.input-global {
  background-color: $whitesmoke;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  color: $black-tr;
}
input:focus {
  outline: none;
  color: $black-dracula;
}

.btn-global {
  padding: 0.5rem 1rem;
  border-radius: 7px;
  font-family: $lato;
  font-size: 14px;
  color: $whitesmoke;
  transition: all 0.08s ease-out;
  border: 1px solid transparent;
  cursor: pointer;
  &:hover {
    background-color: $whitesmoke;
  }
  &:active {
    transform: scale(0.9);
    box-shadow: $shadow;
  }
}

.btn-global-blue {
  background-color: $blue-logo;
  &:hover {
    color: $blue-logo;
    border: 1px solid $blue-logo;
  }
}

.btn-global-blue--outline {
  border: 3px solid $blue-logo;
  color: $text-black;
  padding: 0.5rem 1rem;
  font-size: 14px;
  &:hover {
    color: $blue-logo;
    border: 3px solid $blue-logo;
  }
}

.btn-global-orange {
  background-color: $orange;
  border: 1px solid transparent;
  &:hover {
    color: $orange;
    border: 1px solid $orange;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}

.flex-main {
  display: flex;
}
.main {
  margin-left: 200px;
  padding: 0 4rem;
  background-color: #e6f1f4;
}

app-greeting {
}

app-location {
}

app-todo {
}

app-agencies {
  flex: 1;
}
app-clients-list {
  grid-row: span 2;
}
app-client-identity {
  grid-column-end: span 2;
}
app-clients-card {
}
app-client-account {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-column-end: span 3;
}
