// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "~@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

// Colors
$blue-logo: #54a8b0;
$orange: #ffb878;
$orange-dark: #e0883b;
$yellow: #ffd478;
$whitesmoke: #f5f5f5;
$black-dracula: #2d3436;
$black-tr: #2d343666;
$text-black: #525252;
$blue-glace: #e6f1f4;
//$background-dash: #e6f1f4;
$background-white: rgba(245, 245, 245, 0.9);
$background-blue: rgba(84, 168, 176, 0.85);
$background-main: rgb(221, 216, 216);

// Color-gradient
$home-page: linear-gradient(
  100deg,
  rgba(255, 212, 120, 1) 0%,
  rgba(255, 184, 120, 1) 100%
);
$sidebar: linear-gradient(
  117deg,
  rgba(84, 168, 176, 1) 0%,
  rgba(45, 52, 54, 1) 100%
);
$reddish: #ff6868;
$shadow: -1px 1px 5px 1px rgba(33, 36, 37, 0.1);
// Font
$lato: "Lato", sans-serif;

html {
  font-family: $lato;
  color: $black-dracula;
  background-color: $whitesmoke;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: $lato !important;
}

h2 {
  font-size: 2rem;
}

h4 {
  font-size: 30px;
  font-weight: bold;
  color: $orange-dark;
}

.pad {
  padding: 2rem;
}

.radius {
  border-radius: 8px;
}
.shadow {
  box-shadow: $shadow;
}

.is-bold {
  font-weight: bold;
  letter-spacing: 1px;
}

.input-global {
  background-color: $whitesmoke;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  color: $black-tr;
}
input:focus {
  outline: none;
  color: $black-dracula;
}

.btn-global {
  padding: 0.5rem 1rem;
  border-radius: 7px;
  font-family: $lato;
  font-size: 14px;
  color: $whitesmoke;
  transition: all 0.08s ease-out;
  border: 1px solid transparent;
  cursor: pointer;
  &:hover {
    background-color: $whitesmoke;
  }
  &:active {
    transform: scale(0.9);
    box-shadow: $shadow;
  }
}

.clickable-icon {
  transition: all 0.08s ease-out;
  &:hover {
    transform: scale(1.2);
  }
}

.btn-global-blue {
  background-color: $blue-logo;
  &:hover {
    color: $blue-logo;
    border: 1px solid $blue-logo;
  }
}

.btn-global-blue--outline {
  border: 3px solid $blue-logo;
  color: $text-black;
  padding: 0.5rem 1rem;
  font-size: 14px;
  &:hover {
    color: $blue-logo;
    border: 3px solid $blue-logo;
  }
}

.btn-global-orange {
  background-color: $orange;
  border: 1px solid transparent;
  &:hover {
    color: $orange;
    border: 1px solid $orange;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}

.flex-main {
  display: flex;
}
.main {
  margin-left: 200px;
  padding: 0 4rem;
  background-color: #e6f1f4;
}

// _______ MODAL ____________
.modal {
  position: absolute;
  background-color: $whitesmoke;
  top: 20%;
  left: 40%;
  .modal__title {
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: $yellow;
    color: $whitesmoke;
    font-size: 22px;
    box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.15);
    h5 {
      margin-right: 4rem;
    }
  }
  .modal__body {
    padding: 2rem;

    .form__label {
      font-size: 18px;
    }

    .form__body {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
    }
  }
  .form__body__btn {
    margin-top: 4rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
.input-global-modal {
  background-color: $whitesmoke;
  padding: 0.5rem;
  color: $black-tr;
  border: none;
  border-bottom: 1px solid $black-tr;
  font-size: 16px;
}

// __________________________
app-agencies {
  flex: 1;
}
app-clients-list {
  grid-row: span 2;
}
app-client-identity {
  grid-column-end: span 2;
}
app-client-account {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-column-end: span 3;
}

app-advisors {
  grid-row: span 2;
}

app-advisors-identity {
  grid-column: span 3;
}

app-advisors-client-list {
  grid-column: span 3;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// _________________MEDIA QUERIES______________

// _____MODAL______
@media screen and (max-width: 910px) {
  .modal {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
  }
  app-client-identity {
    grid-row: 2/2;
    grid-column: 1 / 1;
  }
  app-client-account {
    grid-row: 3/3;
    grid-column: 1 / 1;
  }
  app-clients-list {
    grid-row: 4/4;
    grid-row: 1 / 1;
  }
  app-advisors-client-list {
    grid-column: 1 / 1;
  }

  app-advisors-identity {
    grid-column: 1 / 1;
  }
  app-advisors {
    grid-row: 1 / 1;
  }
}

//__________________MEDIA QUERIES GLOBAL___________________
@media screen and (max-width: 525px) {
  .modal {
    .modal__body {
      .form__body {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }
    }
  }
  .input-global-modal {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 1105px) {
  .main {
    margin-left: 0;
    padding: 0 0.5rem;
    // margin-bottom: 1.5rem;
  }
}

//__________________MENU BURGER ___________________

.burger {
  #check {
    display: none;
  }

  label #btn,
  label #cancel {
    position: absolute;
    cursor: pointer;
    background: $blue-logo;
    border-radius: 3px;
  }

  label #btn {
    left: 12px;
    top: 25px;
    font-size: 35px;
    color: $whitesmoke;
    padding: 6px 12px;
    transition: all 0.5s;
  }

  label #cancel {
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: $whitesmoke;
    padding: 4px 9px;
    transition: all 0.5s ease;
  }
  #check:checked ~ .sidebar {
    transform: translateX(0px);
  }

  #check:checked ~ label #btn {
    left: 250px;
    opacity: 0;
    pointer-events: none;
  }

  #check:checked ~ label #cancel {
    left: 18px;
  }
}

@media screen and (min-width: 1105px) {
  .burger {
    input,
    label {
      display: none;
    }
  }
}

@media screen and (max-width: 1105px) {
  .sidebar {
    transform: translateX(-100%);
  }
  .burger {
    #check:checked ~ .sidebar {
      transform: translateX(0px) !important;
    }
  }
}

//_____________________________________________________
