<div class="burger">
  <input type="checkbox" id="check" />
  <label for="check">
    <i class="fas fa-bars" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>
  </label>

  <aside class="sidebar">
    <div class="sidebar__logo">
      <img
        srcset="../../../assets/img/logo-white.svg"
        src="../../../assets/img/logo-white.png"
        alt="Logo de ProxiBank MMK"
        width="126"
        height="135"
      />
    </div>

    <button class="sidebar__dash btn-global" routerLink="/dashboard">
      Tableau de bord
    </button>
    <div class="sidebar__top">
      <div class="top__menu">
        <li class="menu__item">
          <a
            class="item__link"
            routerLink="/client"
            [queryParams]="{ isEnterprise: false }"
            ><img
              src="../../../assets/img/icons/clients.png"
              srcset="../../../assets/img/icons/clients.svg"
              alt="client"
              width="12"
              height="8"
              class="link__icon"
            />Particuliers</a
          >
        </li>

        <li class="menu__item">
          <a
            class="item__link"
            routerLink="/client"
            [queryParams]="{ isEnterprise: true }"
            ><img
              src="../../../assets/img/icons/clients.png"
              srcset="../../../assets/img/icons/clients.svg"
              alt="client"
              width="12"
              height="8"
              class="link__icon"
            />Entreprises</a
          >
        </li>

        <li class="menu__item">
          <a class="item__link" routerLink="/add-client"
            ><img
              src="../../../assets/img/icons/advisor.png"
              srcset="../../../assets/img/icons/advisor.svg"
              alt="advisor"
              width="16"
              height="12"
              class="link__icon"
            />Nouveau client</a
          >
        </li>
      </div>
    </div>
  </aside>
</div>
