@import "../../../styles.scss";

.greeting {
  padding: 2rem;
  background-color: rgba(245, 245, 245, 0.9);
  border-radius: 15px;
  height: 100%;

  .greeting__title {
    font-size: clamp(1.125rem, 2vw + 1rem, 2.25rem);
    color: $text-black;
    margin-bottom: 1rem;
    .bold {
      font-weight: 900;
    }
  }
  .greeting__subtitle {
    font-weight: 400;
    .subtitle__orange {
      color: $orange-dark;
    }
  }
}
