<div class="modal shadow radius" id="modalUpdateClient" role="dialog" aria-labelledby="modalUpdateInformationsClient" aria-describedby="dialogDesc">
  <div class="modal__title">
    <h5 id="modalUpdateInformationsClient">modifier les coordonnées client</h5>
    <a
      ><img
        src="../../../assets/img/icons/close-white.svg"
        alt="fermer la pop-up"
        class="clickable-icon"
        mat-dialog-close
        (click)="closeModal()"
        aria-label="close-modal"
    /></a>
  </div>
  <div class="modal__body">
    <form
      [formGroup]="clientUpdateForm"
      action=""
      class="form"
      (ngSubmit)="sendData()"
      id="dialogDesc"
    >
      <div class="form__body">
        <label for="lastname" class="form__label">Nom</label>
        <input
          class="form__input input-global-modal"
          type="text"
          placeholder="Nom de famille "
          name="lastname"
          formControlName="name"
          aria-label="update client's name"
        />
      </div>
      <div class="form__body">
        <label for="login" class="form__label">Prénom</label>
        <input
          class="form__input input-global-modal"
          type="text"
          placeholder="Prénom"
          name="name"
          formControlName="firstname"
          aria-label="update client's firstname"
        />
      </div>
      <div class="form__body">
        <label for="birthday" class="form__label">Date de naissance</label>
        <input
          class="form__input input-global-modal"
          type="date"
          placeholder="Date de naissance"
          name="birthday"
          formControlName="birth"
          aria-label="update client's birthdate"
        />
      </div>
      
      <div class="form__body">
        <label for="address" class="form__label">Telephone</label>
        <input
          class="form__input input-global-modal"
          type="text"
          placeholder="Telephone"
          name="address"
          formControlName="phoneNumber"
          aria-label="update client's phone number"
        />
      </div>
      <div class="form__body">
        <label for="address" class="form__label">Numero de la rue</label>
        <input
          class="form__input input-global-modal"
          type="text"
          placeholder="Numero de la rue"
          name="address"
          formControlName="streetNumber"
          aria-label="update client's street number"
        />
      </div>
      <div class="form__body">
        <label for="address" class="form__label">Nom de la rue</label>
        <input
          class="form__input input-global-modal"
          type="text"
          placeholder="Nom de la rue"
          name="address"
          formControlName="streetName"
          aria-label="update client's street name"
        />
      </div>
      <div class="form__body">
        <label for="city" class="form__label">Ville</label>
        <input
          class="form__input input-global-modal"
          type="text"
          placeholder="Ville"
          name="city"
          formControlName="city"
          aria-label="update client's city"
        />
      </div>
      <div class="form__body">
        <label for="zipcode" class="form__label">Code postal</label>
        <input
          class="form__input input-global-modal"
          type="text"
          placeholder="Code postal"
          formControlName="zipCode"
          aria-label="update client's zipcode"
        />
      </div>
      <button
        type="submit"
        class="btn-global btn-global-orange form__body__btn"
        aria-label="validate updating"
      >
        valider
      </button>
    </form>
  </div>
</div>
