<div class="modal shadow radius" id="modalUpdateClient">
  <div class="modal__title">
    <h5>modifier les coordonnées client</h5>
    <a
      ><img
        src="../../../assets/img/icons/close-white.svg"
        alt="fermer la pop-up"
        class="clickable-icon"
        mat-dialog-close
    /></a>
  </div>
  <div class="modal__body">
    <form action="" class="form">
      <div class="form__body">
        <label for="lastname" class="form__label">Nom</label>
        <input
          class="form__input input-global-modal"
          type="text"
          placeholder="Nom de famille "
          name="lastname"
        />
      </div>
      <div class="form__body">
        <label for="login" class="form__label">Prénom</label>
        <input
          class="form__input input-global-modal"
          type="text"
          placeholder="Prénom"
          name="name"
        />
      </div>
      <div class="form__body">
        <label for="lastname" class="form__label">Date de naissance</label>
        <input
          class="form__input input-global-modal"
          type="date"
          placeholder="Date de naissance"
          name="birthday"
        />
      </div>
      <div class="form__body">
        <label for="address" class="form__label">Adresse</label>
        <input
          class="form__input input-global-modal"
          type="text"
          placeholder="Adresse"
          name="address"
        />
      </div>
      <div class="form__body">
        <label for="city" class="form__label">Ville</label>
        <input
          class="form__input input-global-modal"
          type="text"
          placeholder="Ville"
          name="city"
        />
      </div>
      <div class="form__body">
        <label for="zipcode" class="form__label">Code postal</label>
        <input
          class="form__input input-global-modal"
          type="text"
          placeholder="Code postal"
          name="zipcode"
        />
      </div>
      <button
        class="btn-global btn-global-orange form__body__btn"
      >
        valider
      </button>
    </form>
  </div>
</div>
